<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Dubai Design City <br> Building 1A <br> Parking B </p>
  <ion-button routerLink="/home" class="comment_area" fill="clear"></ion-button>
</ion-content>