ion-header {
    &:after {
        display: none;
    }
}

ion-content {
    p {
        margin-top: 90px;
        color: #000000;
        font-size: 22px;
    }

    .comment_area {
        color: #030303;
        position: absolute;
        left: 45px;
        right: 45px;
        bottom: 191px;
        height: 64px;
        display: flex;
        font-size: 22px;
        line-height: 29px;
        justify-content: center;
        align-items: center;

        &:after {
            position: absolute;
            left: 0;
            height: 100%;
            width: 9px;
            content: '';
            background: #000000;
            box-shadow: 0px 10px 20px rgba(79, 11, 11, 0.32);
            border-radius: 10px 0px 0px 10px;
        }
    }
}