<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div class="backbutton">
    <ion-button fill="clear">
      <ion-icon src="../../assets/arrow.svg"></ion-icon>
    </ion-button>
  </div>

  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <div class="color_part">
        <p>Black </p><span></span>
      </div>
      <div class="comment">
        Swipe to choose the color <br> of your marchine
      </div>
    </ion-slide>
    <ion-slide>
      <div class="color_part">
        <p style="color: #FF0000;">Red </p><span style="background: #FF0000;"></span>
      </div>
      <div class="comment">
        Swipe to choose the color <br> of your marchine
      </div>
    </ion-slide>
    <ion-slide>
      <div class="color_part">
        <p style="color: #9E9696;">Silver </p><span style="background: #9E9696;"></span>
      </div>
      <div class="comment">
        Swipe to choose the color <br> of your marchine
      </div>
    </ion-slide>
  </ion-slides>
  <div class="nextPage">
    <ion-button fill="clear" routerLink="/map-screen">
      <ion-icon src="../../assets/arrow_bottom.svg"></ion-icon>
    </ion-button>

  </div>
</ion-content>