ion-header {
  &:after {
    display: none;
  }
}

.backbutton {
  ion-button {
    margin-left: -20px;
  }
}

ion-slides {
  margin-top: 100px;
  height: 250px;

  ion-slide {
    display: block;
    text-align: left;
  }

  .color_part {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;

    p {
      margin: 0;
      font-size: 22px;
      color: #000000;
      margin-right: 61px;
    }

    span {
      background: #000000;
      width: 64px;
      display: inline-block;
      vertical-align: top;
      height: 20px;
      box-shadow: 0px 10px 20px rgba(79, 11, 11, 0.32);
    }
  }

  .comment {
    font-size: 16px;
    color: #AAADB3;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.02em;
    margin-top: 80px;
  }
}

.nextPage {
  position: fixed;
  right: 50px;
  bottom: 82px;
}